<body>
  
  <app-header></app-header>
  <main class="principal">
    <div class="welcome">
      <h1>Dasboard FORD</h1>
    </div>
    <section class="class_car">
      <mat-grid-list cols="5" rowHeight="0"  class="grid-list">
        <mat-grid-tile class="dados">veiculos</mat-grid-tile>
        <mat-grid-tile class="dados">total de vendas</mat-grid-tile>
        <mat-grid-tile class="dados"> conectados</mat-grid-tile>
        <mat-grid-tile class="dados">Update Software</mat-grid-tile>
      </mat-grid-list>
      
      <img src="/assets/mustang.png" alt="">
      
    </section>
  </main>
  
</body>