header{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem ;
  }
  .mat-icon{
    color: var(--cor-preto-grafite);
    width: 48px;
    height: 48px;
  }
  .menu{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  .custom-menu-panel {
    width: 100vw !important;
    left: 0 !important;
    right: 0 !important;
    border-radius: 0;
  }
  .mat-mdc-menu-content{
    width: 100vw !important;
    left: 0 !important;
    right: 0 !important;
    border-radius: 0;
  }