body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
}

.main-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url('/assets/ranger.png');
  background-size: contain;            /* Faz a imagem se ajustar à tela */
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  gap: 1rem;
}

.card-home {
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
  max-width: 800px;
  max-height: 100vh;
  height: 75%;
  overflow-y: auto;                   /* Adiciona scroll interno se o conteúdo passar */

  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}

/* Garante quebra de texto em palavras longas e evita overflow */
.card-home p {
  word-break: break-word;
}
