<app-header></app-header>
<main>
        <mat-card class="card-home">
        <mat-card-header class="card-header-home">
        <mat-card-title class="card-header-title text" >Bem vindo a central de dados Ford</mat-card-title>
        <mat-card-subtitle class="card-header-subtitle text">Bem Vindo(a)!</mat-card-subtitle>
        </mat-card-header>
            <mat-card-content class="card-content-home">
              <p class="text">
              A Ford é uma das maiores e mais tradicionais montadoras do mundo, fundada em 1903 por Henry Ford nos Estados Unidos. Reconhecida por revolucionar a indústria automobilística com a introdução da linha de montagem em série, a empresa tornou o automóvel acessível para milhões de pessoas. No Brasil, a Ford atua há mais de um século, contribuindo significativamente para o desenvolvimento do setor automotivo nacional. Seu portfólio inclui veículos que aliam tecnologia, desempenho e segurança, como a Ranger, o Territory e o Mustang. A marca também investe em inovação, com foco em mobilidade inteligente, sustentabilidade e conectividade veicular, mantendo-se relevante no cenário global e adaptando-se às novas demandas do mercado.
              </p>
            </mat-card-content>
        </mat-card>
</main>