<div class="container">
    <div class="imagem">
        <img src="../../assets/ranger.png" alt="imagem de uma ranger vermelha">
    </div>
    <div class="login-class">
        <div class="logo">
            <img src="./public/ford-logo-flat.svg" alt="logo da empresa">
        </div>
        <form class="form-login">
            <h2>Boas Vindas</h2>
            <input type="text" name="user" id="user" placeholder="Digite seu Usuário">

            <input type="text" name="password" id="senha" placeholder="Digite sua senha">
            <div class="remember-me">
            <label for="lembredemim">Logar automaticamente</label>
            <input type="checkbox" name="lembredemim" id="automatic-login">
            </div>

            <button class="btn-enviar-form" disabled>Enviar</button>
        </form>
    </div>
</div>
