/* Imagem de fundo ocupa toda a altura disponível */
.container{background-color: var(--cor-branca);
}
img.img-fluid {
  max-height: 90%;
  object-fit: contain;
}
.input{
  background-repeat: no-repeat;
     align-items: center;
     justify-items: flex-start;
     padding-left: 2rem;
 }
 .input-usuario{
     background-image: url("/assets/person.svg");
 
 }
 .input-password{
     background-image: url("/assets/lock.svg");
 }
/* Estiliza os campos Angular Material */
::ng-deep mat-form-field {
  width: 100%;
}

::ng-deep .mat-form-field-flex {
  border-radius: 8px;
  background-color: #f8f9fa;
}

::ng-deep .mat-input-element {
  padding: 10px;
  font-size: 1rem;
}

/* Responsivo para tablets e celulares */
@media (max-width: 991px) {
  section.container-fluid {
    flex-direction: column;
  }

  .text-muted {
    font-size: 0.9rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  .btn {
    font-size: 1.1rem;
  }
}
