/* You can add global styles to this file, and also import other style files */
:root{
    --cor-azul-principal: #003399;
    --cor-azul-claro: #007bff;
    --cor-branca: #ffffff;
    --cor-cinza:#f0f0f0 ;
    --cinza-escuro: #6c757d;;
    --cor-preto-grafite: #333333 ;
    --verde-status-positivo:#28a745;
    --vermelho-erro-ou-off: #dc3545; 
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
